html, body, .container-fluid {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#form_wrapper{
    border:1px solid;
    border-radius: 10px;
}

*[data-page="page"][data-page-status="destroyed"]{
  display:none;
}

*[data-page="page"][data-page-status="loading"]{
  display:none;
}

*[data-page="page"]{
  height:100%;
}

#userInfo {
  height:5%;
}

aside {
  background-color:white;
  height:95%;
  width:25%;
}

main {
  height:95%;
  margin-left:5px;
  width: calc( 75% - 5px );
}

.status_indicator {
  border-radius: 50%;
  min-width: 50px;
  min-height: 50px;
}

.userInfo {
  width: 100%;
}

.participant:hover{
    color:#AFAFAF;
    background-color:brown;
    cursor: pointer;
}

/*Status OFFLINE*/
.participant[data-status="offline"] .chat-badge {
  display:none
}

.participant[data-status="offline"] .xd-badge {
  display:none
}

.participant[data-status="offline"] .dnd-badge {
  display:none
}

/*Status CHAT*/
.participant[data-status="chat"] .offline-badge {
  display:none
}

.participant[data-status="chat"] .xd-badge {
  display:none
}

.participant[data-status="chat"] .dnd-badge {
  display:none
}

/*Status DND*/
.participant[data-status="dnd"] .offline-badge {
  display:none
}

.participant[data-status="dnd"] .xd-badge {
  display:none
}

.participant[data-status="dnd"] .chat-badge {
  display:none
}

/*Status XD*/
.participant[data-status="xd"] .offline-badge {
    display:none
  }
  
.participant[data-status="xd"] .dnd-badge {
  display:none
}
  
.participant[data-status="xd"] .chat-badge {
  display:none
}

.status-item{
  width: 20%;
  text-align: center;
  line-height: 100%;
}